/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* plus-jakarta-sans-regular - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/plus-jakarta-sans-v3-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("../fonts/plus-jakarta-sans-v3-latin-regular.eot?#iefix")
  format("embedded-opentype"),
  /* IE6-IE8 */ url("../fonts/plus-jakarta-sans-v3-latin-regular.woff2")
  format("woff2"),
  /* Super Modern Browsers */
  url("../fonts/plus-jakarta-sans-v3-latin-regular.woff") format("woff"),
  /* Modern Browsers */ url("../fonts/plus-jakarta-sans-v3-latin-regular.ttf")
  format("truetype"),
  /* Safari, Android, iOS */
  url("../fonts/plus-jakarta-sans-v3-latin-regular.svg#PlusJakartaSans")
  format("svg"); /* Legacy iOS */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/plus-jakarta-sans-v3-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("../fonts/plus-jakarta-sans-v3-latin-500.eot?#iefix")
  format("embedded-opentype"),
  /* IE6-IE8 */ url("../fonts/plus-jakarta-sans-v3-latin-500.woff2")
  format("woff2"),
  /* Super Modern Browsers */
  url("../fonts/plus-jakarta-sans-v3-latin-500.woff") format("woff"),
  /* Modern Browsers */ url("../fonts/plus-jakarta-sans-v3-latin-500.ttf")
  format("truetype"),
  /* Safari, Android, iOS */
  url("../fonts/plus-jakarta-sans-v3-latin-500.svg#PlusJakartaSans")
  format("svg"); /* Legacy iOS */
}
/* plus-jakarta-sans-600 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/plus-jakarta-sans-v3-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("../fonts/plus-jakarta-sans-v3-latin-600.eot?#iefix")
  format("embedded-opentype"),
  /* IE6-IE8 */ url("../fonts/plus-jakarta-sans-v3-latin-600.woff2")
  format("woff2"),
  /* Super Modern Browsers */
  url("../fonts/plus-jakarta-sans-v3-latin-600.woff") format("woff"),
  /* Modern Browsers */ url("../fonts/plus-jakarta-sans-v3-latin-600.ttf")
  format("truetype"),
  /* Safari, Android, iOS */
  url("../fonts/plus-jakarta-sans-v3-latin-600.svg#PlusJakartaSans")
  format("svg"); /* Legacy iOS */
}
/* plus-jakarta-sans-700 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/plus-jakarta-sans-v3-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("../fonts/plus-jakarta-sans-v3-latin-700.eot?#iefix")
  format("embedded-opentype"),
  /* IE6-IE8 */ url("../fonts/plus-jakarta-sans-v3-latin-700.woff2")
  format("woff2"),
  /* Super Modern Browsers */
  url("../fonts/plus-jakarta-sans-v3-latin-700.woff") format("woff"),
  /* Modern Browsers */ url("../fonts/plus-jakarta-sans-v3-latin-700.ttf")
  format("truetype"),
  /* Safari, Android, iOS */
  url("../fonts/plus-jakarta-sans-v3-latin-700.svg#PlusJakartaSans")
  format("svg"); /* Legacy iOS */
}
:root {
  --bg-color: #fff;
  --text-color: #101010;
  --subtext-color: #636f87;
  --btn-bg-color: #1aab7b;
  --text-desc-color: #fff;
  --footer-bg-color: #101010;
  --footer-text-color: #a1a8b7;
  --section-bg-color: #f2f4f6;
  --hover-color: #1aab7b;
  --img-bg-color: #e1e7ed;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-weight: 700;
  font-family: "Plus Jakarta Sans";
}

/* *************** site header start *************** */
.site-header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eeeef4;
}

.container {
  max-width: 1256px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.site-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header-logo-link {
  color: #191919;
  text-decoration: none;
  margin-right: 50px;
}

.site-header-logo-link:hover {
  opacity: 0.8;
}

.site-header-logo-link:active {
  opacity: 0.6;
}

.site-header-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0;
  width: 402px;
}

.site-nav__item {
  margin-left: 30px;
}

.site-nav__item:first-child {
  margin-left: 0;
}

.site-nav-item_link {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
  text-decoration: none;
}

.site-nav-item_link:hover {
  color: var(--hover-color);
}

.site-nav-item_link:active {
  color: var(--hover-color);
  opacity: 0.6;
}

.site-header-tel {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: var(--text-desc-color);
  background: var(--text-color);
  border-radius: 6px;
  padding: 12px 24px;
}

.site-header-tel:hover {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
  background-color: var(--bg-color);
}

.site-header-tel:active {
  background: var(--footer-bg-color);
  opacity: 0.6;
  color: var(--text-desc-color);
}
/* *************** site header end *************** */

/* ************* site main start *************** */
/* ************ hero section start *********** */
.hero-section {
  background-color: var(--bg-color);
  padding-top: 91px;
  padding-bottom: 156px;
}

.hero-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-section-box-start {
  width: 550px;
}

.hero-section-title {
  width: 550px;
  font-size: 56px;
  line-height: 140%;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.hero-section-subtitle {
  width: 537px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--subtext-color);
  margin-top: 0;
  margin-bottom: 40px;
}

.hero-section-btn {
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: var(--text-desc-color);
  padding: 20px 40px;
  background-color: var(--btn-bg-color);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  border: 1.5px solid transparent;
}

.hero-section-btn:hover {
  border: 1.5px solid var(--hover-color);
  background-color: var(--bg-color);
  color: var(--hover-color);
}

.hero-section-btn:active {
  opacity: 0.7;
  background-color: var(--btn-bg-color);
  border: 1.5px solid transparent;
  color: var(--text-desc-color);
}

.hero-section-iframe {
  border-radius: 6px;
  border: none;
}

/* ************ hero section end *********** */

/* ************ it-jobs-section start *********** */
.it-jobs-section {
  background-color: var(--section-bg-color);
  padding-top: 50px;
  padding-bottom: 50px;
}

.it-jobs-section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 40px;
}

.it-jobs-section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  gap: 32px;
}

.it-jobs-section-item {
  width: 384px;
  min-height: 358px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--section-bg-color);
  border: 2px solid #e1e7ed;
  border-radius: 6px;
  padding: 30px 30px 40px 30px;
}

.it-jobs-section-item:hover {
  background-color: var(--hover-color);
  border: 2px solid transparent;
}

.it-jobs-section-item:hover
> .it-jobs-section-item-start
> .it-jobs-section-item-title {
  color: var(--text-desc-color);
}

.it-jobs-section-item:hover > .it-jobs-section-item-start > .it-jobs-icon {
  background-color: var(--text-desc-color);
}

.it-jobs-section-item:hover > .it-jobs-section-item-subtitle {
  color: var(--text-desc-color);
}

.it-jobs-section-item:hover > .it-jobs-section-view-more {
  text-decoration: underline;
  color: var(--text-desc-color);
}

.it-jobs-section-item-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.it-jobs-section-item-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 11px;
}

.it-jobs-icon {
  padding: 17px;
  background-color: var(--img-bg-color);
  border-radius: 50%;
}

.it-jobs-section-item-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--subtext-color);
  margin: 0px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.it-jobs-section-view-more {
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  text-decoration: none;
}
/* ************ it-jobs-section end *********** */

/* *************** work section start  ****************** */
.work-section {
  background-color: var(--bg-color);
  padding-top: 100px;
  padding-bottom: 150px;
}

.work-section-title {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 16px;
}

.work-section-subtitle {
  font-family: "Plus Jakarta Sans";
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--subtext-color);
  width: 650px;
  margin-top: 0;
  margin-bottom: 90px;
}

.work-section-list {
  list-style: none;
  padding-left: 0;
}

.work-section-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.work-section-list-item:last-child {
  margin-bottom: 0;
}

.img-bussains {
  margin-right: 32px;
  width: 488px;
  height: 390px;
}

.work-section-item-title {
  width: 488px;
  font-size: 40px;
  line-height: 140%;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.work-section-box-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--subtext-color);
  width: 488px;
}

.work-section-list-item-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 94px;
}

.work-section-box-text-middle {
  margin-right: 32px;
}

.middle-title {
  width: 592px;
}
/* *************** work section end  ****************** */
/* **************** input-bar-section start ***************** */
.input-bar-section {
  padding-bottom: 200px;
}
.input-bar-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
}

.input-bar-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  margin: 0 auto 16px;
  width: 411px;
  text-align: center;
  color: var(--text-color);
}
.input-bar-section-desc {
  width: 650px;
  margin: 0 auto 60px;
  text-align: center;
  color: var(--subtext-color);
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  
  color: #636f87;
}
.box-form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1008px;
  padding: 64px 312px;
  background-color: #f2f4f6;
  border-radius: 6px;
}
.name::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.name::-moz-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.name:-ms-input-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.name::-ms-input-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.name::placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.name,
.input-number,
.site-select {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 21px;
  background-color: transparent;
  color: var(--text-color);
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #636f87;
  border-left: none;
  outline: 0;
  margin-bottom: 51px;
}
.input-number::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.input-number::-moz-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.input-number:-ms-input-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.input-number::-ms-input-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.input-number::placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.input-bar-section-btn {
  width: 180px;
  padding: 20px 69.5px;
  margin: 0 auto;
  background: var(--hover-color);
  border-radius: 6px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: var(--text-desc-color);
}
.input-bar-section-bottom-desc {
  margin-top: 24px;
  text-align: center;
  color: #858ea2;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

/* **************** input-bar-section end ***************** */

/* ****************** site section footer start ****************** */
.site-footer {
  max-width: 100%;
  background-color: var(--footer-bg-color);
  padding-top: 100px;
}

.site-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.site-footer-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-footer-list {
  list-style: none;
  padding-left: 0;
  margin-right: 151px;
  margin-top: 0;
  margin-bottom: 0;
}

.site-footer-list-end {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.site-footer-list-end-address {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.site-footer-item-link {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--img-bg-color);
}

.site-footer-item-active {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-desc-color);
  margin-bottom: 30px;
}

.site-footer-item:last-child {
  margin-bottom: 0;
}

.site-footer-item {
  font-weight: 200;
  font-size: 18px;
  line-height: 150%;
  color: #a1a8b7;
  margin-bottom: 26px;
  margin-top: 0;
}
.site-footer-tel {
  text-decoration: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #a1a8b7;
}

.site-footer-item-name {
  width: 280px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #a1a8b7;
}

.site-footer-list-network {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 216px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-footer-list-network:first-child {
  margin-left: 0;
}

.site-footer-end-end {
  border-top: 1px solid #3b4155;
  padding-top: 50px;
  padding-bottom: 50px;
}

.site-footer-end-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-footer-end-subtitle {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: right;
  color: var(--bg-color);
  margin: 0;
}

.site-footer-logo:hover {
  opacity: 0.8;
}
.site-footer-logo:active {
  opacity: 0.6;
}

.site-footer-item-link {
  text-decoration: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #a1a8b7;
}

.site-footer-item-link:hover{
  color: var(--hover-color);
}

.site-footer-item-link-active {
  font-size: 20px;
  line-height: 25px;
  color: var(--text-desc-color);
  text-decoration: none;
}

/* ****************** site section footer end ****************** */
/* ************* site main end *************** */